.output {
    margin: 0 25px;
    width: 300px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#output__text {
    display: inline-block;
    white-space: nowrap;
}

.output__lastExpression{
    position: absolute;
    left: 25px;
    top: 85px;
    color: rgb(177, 177, 177);
}